<form>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
                <h3 class="!mb-2 text-lg leading-6 font-medium text-gray-900">
                    Third Party Integration
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                    Enter the API keys for the respective Application
                </p>
            </div>

            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-6">
                    <label for="github-api" class="block text-sm font-medium text-gray-700">
                        Github API Key
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input type="text" name="github-api" id="github-api"
                            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <!-- <button type="button"
                        class="mt-2 bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Show API key
                    </button> -->
                </div>

                <div class="col-span-6 sm:col-span-6">
                    <label for="sonarcloud-api" class="block text-sm font-medium text-gray-700">
                        SonarCloud API Key
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input type="text" name="sonarcloud-api" id="sonarcloud-api"
                            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <!-- <button type="button"
                        class="mt-2 bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Show API key
                    </button> -->
                </div>

                <div class="col-span-6 sm:col-span-6">
                    <label for="netlify-api" class="block text-sm font-medium text-gray-700">
                        Netlify API Key
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input type="text" name="netlify-api" id="netlify-api"
                            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <!-- <button type="button"
                        class="mt-2 bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Show API key
                    </button> -->
                </div>


                <div class="col-span-6 sm:col-span-3">
                    <label for="heroku-email" class="block text-sm font-medium text-gray-700">
                        Heroku Email Address
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input type="text" name="heroku-email" id="heroku-email"
                            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <!-- <button type="button"
                        class="mt-2 bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Show API key
                    </button> -->
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="heroku-api" class="block text-sm font-medium text-gray-700">
                        Heroku API Key
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input type="text" name="heroku-api" id="heroku-api"
                            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <!-- <button type="button"
                        class="mt-2 bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Show API key
                    </button> -->
                </div>

                <div class="col-span-6 sm:col-span-6">
                    <label for="wakatime-api" class="block text-sm font-medium text-gray-700">
                        Wakatime API Key
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input type="text" name="wakatime-api" id="wakatime-api"
                            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <!-- <button type="button"
                        class="mt-2 bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Show API key
                    </button> -->
                </div>

            </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
                class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Update
            </button>
        </div>
    </div>
</form>