<div class="container">

    <div *ngIf="isAuthenticated" class="d-flex justify-content-end">
        <a routerLink="create" class="btn btn-primary">
            Create Repo
        </a>
    </div>


    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Name </th>
                <!-- <th scope="col"> Github </th>
                <th scope="col"> URL </th> -->
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let repo of (repoList | async);let i = index;">
                <th scope="row">
                    {{i + 1 }}
                </th>
                <td>
                    {{repo.name}}
                </td>
            </tr>

        </tbody>
    </table>

</div>