<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <div class="md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
            <h2 class="!text-2xl font-bold leading-7 text-gray-900 !sm:text-3xl sm:truncate">
                Projects
            </h2>
        </div>
        <div class="mt-4 flex md:mt-0 md:ml-4">
            <!-- <button type="button"
                class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Edit</button> -->
            <button type="button"
                class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Create
            </button>
        </div>
    </div>


    <div class="flex flex-col md:mt-4">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Site Name
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Account Name
                                </th>
                                <!-- <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Created By
                                </th> -->
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Status
                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="bg-white divide-y divide-gray-200" *ngVar="(sitesList | async) as _sitesList">

                            <ng-container *ngIf="!(_sitesList); else projectListElse">
                                <tr *ngFor="let site of [1,2,3,4,5];let i = index" class="animate-pulse">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        <div class="h-2 bg-slate-200 rounded"></div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        <div class="h-2 bg-slate-200 rounded"></div>
                                    </td>
                                    <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        <div class="h-2 bg-slate-200 rounded"></div>
                                    </td> -->
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="h-2 bg-slate-200 rounded"></div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium ">
                                        <div class="h-2 bg-slate-200 rounded"></div>
                                    </td>
                                </tr>
                            </ng-container>

                            <ng-template #projectListElse>
                                <tr *ngFor="let site of _sitesList;let i = index">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        {{site.name | uppercase}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{site.account_name | uppercase}}
                                    </td>
                                    <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{site.createdBy}}
                                    </td> -->
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full ">
                                            <a href="{{site.deploy_url}}" target="_blank" rel="noopener noreferrer">
                                                <i-feather name="globe" class="mr-3 flex-shrink-0 h-6 w-6"
                                                    [ngClass]="{ 'text-green-600': site.deploy_url , 'text-yellow-600': !(site.deploy_url)}">
                                                </i-feather>
                                            </a>
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                        <a routerLink="{{site.id}}"
                                            class="text-indigo-600 hover:text-indigo-900">Edit</a>
                                    </td>
                                </tr>
                            </ng-template>

                            <!-- More repos... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>