<div class="container vh-100 d-flex">


    <div class="card w-50 m-auto">
        <div class="card-body">

            <form [formGroup]="siteForm" (submit)="formSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label"> Project Name </label>
                    <input type="text" class="form-control" id="name" formControlName="name"
                        aria-describedby="nameHelp">
                    <div id="nameHelp" class="form-text"> Eg: Devops-ui </div>
                </div>
                <div class="mb-3">
                    <label for="repo" class="form-label"> Repository Name </label>
                    <input type="text" class="form-control" id="repo" formControlName="repo"
                        aria-describedby="repoHelp">
                    <div id="repoHelp" class="form-text"> Eg: fwsalabs/devopsapp-ui </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

</div>