<div class="vh-100 d-flex flex-row">

    <div class="m-auto">

        <div class="card">
            <div class="card-body">

                <div class="oauth-group d-flex flex-column">

                    <a id="github-button"
                        href="https://github.com/login/oauth/authorize?client_id=28d31585afbdbae08125&scope=user repo admin:org&state=123"
                        class="mx-auto btn btn-dark text-light">
                        <i class="bi bi-github mr-2"></i> Sign in with Github
                    </a>
                </div>


            </div>
        </div>


    </div>

</div>