<header class="p-3 bg-light text-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                <h4 class="m-0">Netlify Tracker</h4>
            </a>

            <ul class="nav col-12 col-lg-auto ms-lg-3 me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-black"> Repos </a></li>
                <li><a href="#" class="nav-link px-2 text-black-50"> Sites </a></li>
            </ul>

            <div class="text-end">

                <a *ngIf="!isAuthenticated"
                    href="https://github.com/login/oauth/authorize?client_id=28d31585afbdbae08125&scope=user repo admin:org&state=123"
                    class="btn btn-outline-dark me-2">
                    Login
                </a>

                <button *ngIf="isAuthenticated" type="button" class="btn btn-warning"> Sign out </button>

            </div>
        </div>
    </div>
</header>