<header class="p-2 bg-light text-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                <h4 class="m-0">Netlify Tracker</h4>
            </a>

            <ul class="nav col-12 col-lg-auto ms-lg-3 me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/repos" class="nav-link px-2 text-black"> Repos </a></li>
                <li><a routerLink="/sites" class="nav-link px-2 text-black"> Sites </a></li>
            </ul>



            <div class="profile-dropdown">


            </div>


            <div class="text-end">

                <!-- <a *ngIf="!isAuthenticated"
                    href="https://github.com/login/oauth/authorize?client_id=28d31585afbdbae08125&scope=user repo admin:org&state=123"
                    class="btn btn-outline-dark me-2">
                    Login
                </a> -->

                <button *ngIf="!isAuthenticated" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#loginModal">
                    Login
                </button>

                <div *ngIf="isAuthenticated && userDetails" class="dropdown">

                    <button class="btn btn-link text-decoration-none text-dark" type="button" id="profileDropdownMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-flex flex-row align-items-center">
                            <img class="me-2 rounded-circle" src="{{userDetails.avatar_url}}" width="40" height="40"
                                alt="profile_picture">
                            <span>
                                <h6 class="mb-0 text-start"> {{userDetails.name}} </h6>
                                <small class="mb-0"> {{userDetails.login}} </small>
                            </span>
                        </span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdownMenu">
                        <!-- <li><a class="dropdown-item">Action</a></li> -->
                        <!-- <li><a class="dropdown-item">Another action</a></li> -->
                        <li><a class="dropdown-item" (click)="logout()"> Sign Out </a></li>
                    </ul>

                </div>


            </div>
        </div>
    </div>
</header>



<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"> Login </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="loginForm" (submit)="submitLoginForm()">

                    <div class="mb-3">
                        <label for="email" class="col-form-label">Email Address</label>
                        <input type="email" formControlName="email" class="form-control" id="email">
                    </div>


                    <button type="submit" class="btn btn-primary"> Login </button>

                </form>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>