/* You can add global styles to this file, and also import other style files */

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Hind Madurai', sans-serif !important;
}

html, body { 
    height: 100%;
}

:root {
    --animate-duration: 400ms;
    --animate-delay: 0.9s;
}


.cdk-global-overlay-wrapper {
    align-items: flex-start !important; 

    .custom-dialog-top{
        margin-top: 1rem !important;

        &.cdk-overlay-pane{
            animation-name: slideInDown;
        }
    }

    .custom-dialog-right{
        margin-top: 0 !important;
        justify-content: flex-end !important;
        
        &.cdk-overlay-pane{
            height: 100vh !important;
            animation-name: slideInRight;
        }
    }


}